<form method='POST'>
  <label for='input-username'>Your Username</label>
  <input
    id='input-username'
    type='username'
    name='username'
    placeholder='Your username'
  />

  <label for='input-password'>Password</label>
  <input
    id='input-password'
    type='password'
    name='password'
    placeholder='Password'
  />

  <button>Log In</button>
</form>